@use "../util/" as u;
@use "../layout/" as l;

.page {
    min-height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    text-align: center;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background-image: url("/images/fondo1.jpeg");
        background-repeat: no-repeat;
        background-size: cover;
    }
}

.home {
    margin: auto;
    padding: 5rem 0;

    .title {
        @include l.flex-center;
        justify-content: center;
        color: white;
        max-width: 100%;
        margin: auto;
        font-size: 12.5vw;
        line-height: 1;
        letter-spacing: -.06em;
        font-weight: 800;

        > span {
            position: relative;
            display: block;
            user-select: none;

            &:nth-child(1) {
                &::before {
                    content: "Fisiom";
                }

                > span {
                    background-image: linear-gradient(90deg, #007CF0, #00DFD8);
                    animation: animated_gradient_text_1 8s infinite;

                    @keyframes animated_gradient_text_1 {
                        0%, 
                        16.667%,
                        to {
                            opacity: 1;
                        }
    
                        33.333%,
                        50% {
                            opacity: 0;
                        }
                    }
                }
            }

            &:nth-child(2) {
                &::before {
                    content: "fulness.";
                }

                > span {
                    background-image: linear-gradient(90deg, #7928CA, #FF0080);
                    animation: animated_gradient_text_2 8s infinite;

                    @keyframes animated_gradient_text_2 {
                        0%,
                        to {
                            opacity: 0;
                        }
                    
                        33.333%,
                        50% {
                            opacity: 1;
                        }
                    
                        16.667%,
                        66.667% {
                            opacity: 0;
                        }
                    }
                }
            }

            &::before {
                position: absolute;
                display: block;
                width: 100%;
                text-align: center;
                margin-bottom: -10px;
                background: linear-gradient(180deg,#fff,hsla(0,0%,100%,.75));
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                top: 0;
                bottom: 0;
                left: 0;
                z-index: 0;
                padding: 0 .05em;
            }

            > span {
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding: 0 .05em;
                position: relative;
                z-index: 1;
            }
        }
    }

    .subtitle {
        margin-top: 14px;
        font-size: 20px;
        line-height: 26px;
        color: #888;
        letter-spacing: -.03em;
    }

    @include u.breakpoint-up(large) {
        .title {
            max-width: 800px;
            font-size: 7rem;
        }

        .subtitle {
            font-size: 24px;
            line-height: 34px;
        }
    }
}