@use "../util/" as u;
@use "../layout/" as l;

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    transition: box-shadow .3s ease, backdrop-filter .3s ease, background-color .3s ease;

    .container {
        height: 64px;
        display: grid;
        place-items: center;
    }
    
    .logo {
        z-index: 1;

        img {
            width: 55px;
        }
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar {
            display: none;
        }
        
        ul {
            display: flex;
            
            a {
                font-size: 14px;
                padding: 8px 12px;
                transition: color .3s ease;
                @include l.flex-center;

                .icon {
                    font-size: 24px;
                    padding-right: 8px;
                }
            }
        }
    }

    &.scroll-header {
        box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
        -webkit-backdrop-filter: saturate(180%) blur(8px);
        backdrop-filter: saturate(180%) blur(8px);
        background-color: rgba(255, 255, 255, 0.8);
    }

    @include u.breakpoint-up(large) {
        .logo img {
            width: 65px;
        }

        nav .navbar {
            display: block;

            ul {
                gap: 8px;
                align-items: center;
                
                a {
                    border-radius: 45px;
                    color: #666;
                    transition: background-color .3s ease;

                    &:hover {
                        color: #000;
                    }
    
                    &:active {
                        color: #666;
                    }
                    
                    &.active {
                        background-color: rgba(0,0,0,.08);
                        color: #000;
                    }
                }
            }
        }
    }
}

.header-navbar {
    @include u.breakpoint-down(medium) {
        overflow: hidden !important;

        .header {
            nav .navbar {
                position: fixed;
                padding-top: 64px;
                display: block;
                inset: 0;
                background-color: white;
                
                ul {
                    overflow: auto;
                    border-top: 1px solid #e4e4e4;
                    background-color: white;
                    min-height: calc(100vh - 64px);
                    padding: 24px 24px 40px;
                    height: 100%;
                    flex-direction: column;

                    a {
                        font-weight: 500;
                        padding: 8px 0;
                        color: rgb(34, 34, 34);

                        &.active {
                            color: rgb(239, 68, 68);
                        }

                        &:hover {
                            background-color: rgb(247, 247, 247);
                        }

                        &:active {
                            background-color: transparent;
                        }
                    }
                }
            }
        }
    }
}
