@use "../util/" as u;

.header {
    position: sticky;
    top: 0;
    z-index: 999;

    .container {
        height: 64px;
        display: grid;
        place-items: center;
    }
    
    .logo {
        z-index: 1;

        img {
            width: 55px;
        }
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .navbar {
            display: none;
        }
        
        ul {
            display: flex;
            align-items: center;
            gap: 16px;
            
            a {
                transition: color .3s ease;
                color: white;

                &:hover {
                    color: #8383ff;
                }

                &:active {
                    color: white;
                }
                
                &.active {
                    color: blue;
                }
            }
        }
    }

    @include u.breakpoint-up(large) {
        .container {
            height: 80px;
        }

        .logo img {
            width: 65px;
        }

        nav .navbar {
            display: block;
        }
    }

    @include u.breakpoint-down(medium) {
        &.active {
            border-bottom: 1px solid #e4e4e4;

            nav .navbar {
                position: fixed;
                padding: 64px 24px 0;
                display: block;
                inset: 0;
                background-color: white;
            }
    
            .ham-burger span {
                background-color: #000;
            }
        }
    }
}
