.header{
    background: red;
    nav{
        display: flex;
        justify-content: space-between;
       .logo{
        width: 60px;
       }
        
       ul{
            display: flex;
            align-items: center;
            gap: 6px;
        }
        
    }
}

