@use "../util/" as u;
@use "../layout/" as l;

.ham-burger {
  display: block;
  position: relative;
  width: 42px;
  height: 42px;
  font-size: 0;
  appearance: none;
  border-radius: 50%;
  cursor: pointer;
  border: 1px solid #666;
  @include l.flex-center;
  justify-content: center;

  -webkit-transition: background 0.3s;
  transition: background 0.3s;

  &:focus {
    outline: none;
  }

  span {
    display: block;
    width: 16px;
    position: absolute;
    height: 1px;
    // background: white;

    -webkit-transition: background 0s 0.3s;
    transition: background 0s 0.3s;
    
    &:before, &:after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: inherit;
      background-color: #000;
      content: "";

      -webkit-transition-duration: 0.3s, 0.3s;
      transition-duration: 0.3s, 0.3s;
      -webkit-transition-delay: 0.3s, 0s;
      transition-delay: 0.3s, 0s;    
    }
    &:before {
      top: -4px;
        -webkit-transition-property: top, -webkit-transform;
        transition-property: top, transform;
      }
    &:after {
      bottom: -4px;
      -webkit-transition-property: bottom, -webkit-transform;
      transition-property: bottom, transform;
    }
  }

  &:active {
    transform: scale(0.92);
  }

  &.open {
    background-color: #f7f7f7 !important;
    border: 2px solid rgb(24, 24, 24) !important;

    span {
      background: none;
      height: 2px;

      &:before, &:after {
        -webkit-transition-delay: 0s, 0.3s;
        transition-delay: 0s, 0.3s;
        background-color: #333 !important;
      } 
    
      &:before {
        top: 0;
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
      &:after {
        bottom: 0;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
    }
  }
}

.page-dark {
  background-color: #000;
  
  .header {
    &.scroll-header {
      box-shadow: inset 0 -1px 0 0 rgba(255, 255, 255, 0.1);
      background-color: rgba(0,0,0,.5);
    }
  }

  .ham-burger {
    border: 1px solid #DDDDDD;

    span {
      &:before, &:after {
        background-color: #fff;
      }
    }
  }

  @include u.breakpoint-up(large) {
    .header {
      nav .navbar {
        ul a {
          color: #a0a0a0;

          &:hover {
            color: #ededed;
          }

          &:active {
            color: #666;
          }

          &.active {
            background-color: rgba(255, 255, 255, 0.09);
            color: #ededed;
          }
        }
      }
    }
  }
}
